<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0/EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.repository.BoardDAO">
	<insert id="insertBoard" parameterType="board">
		insert into board (
		member_idx,
		title,
		ingr,
		content,
		fileName
		) values (
		#{member_idx},
		#{title},
		#{ingr},
		#{content},
		#{fileName}
		)
	</insert>

	<select id="selectAll" resultType="board">
		select
		b.*,
		m.userid as
		member_userid
		from board B
		join member m
		on m.idx = b.member_idx
		order by
		b.idx desc
	</select>

	<select id="maxIdx" resultType="int">
		select
		max(idx) from board
	</select>

	<select id="selectOne" resultType="board">
		select
		b.*,
		m.userid as
		member_userid,
		m.fileName as member_fileName
		from board B
		join member m
		on m.idx = b.member_idx
		where b.idx=#{idx}
	</select>


	<update id="boardUpdate" parameterType="board">
		update board
		set
		content=#{content}, fileName=#{fileName}, title=#{title}
		where
		idx=#{idx}
	</update>

	<delete id="boardDelete" parameterType="int">
		delete board where
		idx=#{idx}
	</delete>

	<select id="search" resultType="board">
		<if test="searchOption == 'include'">	<!-- 포함하면 실행하는 부분 -->
			select
			B.*,
			M.userid as member_userid
			from board B
			join member M
			on M.idx =
			B.member_idx
			where
			<foreach collection="keywords" item="keyword" separator="and">
				ingr like '%${keyword}%'
			</foreach>
			order by B.idx desc
		</if>

		<!-- 제외하면 실행하는 부분 -->
		<if test="searchOption == 'exclude'">
			select
			B.*,
			M.userid as member_userid
			from board B
			join member M
			on M.idx
			= B.member_idx
			where
			<foreach collection="keywords" item="keyword" separator="or">
				ingr not like '%${keyword}%'
			</foreach>
			order by B.idx desc
		</if>
	</select>

	<select id="excludeSearch" resultType="board">
		select
		B.*,
		M.userid as member_userid
		from board B
		join member M
		on M.idx = B.member_idx
		where
		<foreach collection="keywords" item="keyword" separator="and" open="(" close=")">
			ingr like '%${keyword}%'		
		</foreach>		
		and not 
		<foreach collection="excludeKeywords" item="excludeKeyword" separator="and" open="(" close=")">
			ingr like '%${excludeKeyword}%'		
		</foreach>
		order by B.idx desc
	</select>

	<update id="viewCount" parameterType="int">
		update board
		set viewCount =
		viewCount + 1 where idx = #{idx}
	</update>

	<select id="selectBoardLike" parameterType="boardLike"
		resultType="boardLike">
		select * from board_like
		where board_idx=#{board_idx} and
		member_userid=#{member_userid}
	</select>

	<insert id="insertBoardLike" parameterType="boardLike">
		insert into
		board_like(board_idx, member_userid)
		values(#{board_idx},
		#{member_userid})
	</insert>

	<select id="selectboardLikeByIdx" parameterType="int"
		resultType="boardLike">
		select * from board_like where idx=#{idx}
	</select>

	<update id="updateLikeStatus" parameterType="boardLike">
		update board_like
		set blike_status=#{blike_status} where idx=#{idx}
	</update>

	<update id="updateLikeCountUp" parameterType="int">
		update board set
		likeCount = likeCount+1 where idx=#{idx}
	</update>

	<update id="updateLikeCountDown" parameterType="int">
		update board set
		likeCount = likeCount-1 where idx=#{idx}
	</update>
</mapper>